<header>
      <div class="buttons header text-center">
        <div class="input">
          <input type="text"(change)="changeInput($event.target.value)" placeholder="Enter text here" />
        </div>
        <button class="btn btn-success" (click)="addData()">Add</button>

        <button class="btn btn-primary" (click)="toggleDisplay()" >{{displayButtonName()}}</button>
      </div>
      <div class="text-center log">
      <h3>Log Details: Button clicked {{log}} times</h3>

      </div>
      <div class="paras container" *ngIf="showPara">
        <div [ngClass]="{blue:(i+1)%5==0}" class="para" *ngFor="let P of para; let i=index; ">
          <p >
            {{P.data}}
          </p>
        </div>

        
      </div>
    </header>

    
